.header {
	background: url('img/header.svg') no-repeat 100%;
	left: 0;
	width: 100%;
	height: 839px;
}

.menu {
	padding: 70px 70px 10px 0;
	display: flex;
	justify-content: flex-end;
	border: dashed 2px red;
}

.menu__item {
	font: 18px/21px robotoblack, arial, helvetica, sans-serif;
	text-decoration: none;
	cursor: pointer;
	color: #FFF;
	margin-right: 60px;
}

.header__content {
	border: dashed 2px red;
	text-align: end;
	padding-right: 130px;
	color: #E1E6E9;
}

.header__content_title {
	font: 900 40px/47px robotomedium, arial, helvetica, sans-serif;
	margin-bottom: 11px;
}

.header__content_subtitle {
	font: 900 20px/23px robotomedium, arial, helvetica, sans-serif;
	margin: 0 0 39px 0;
	border: dashed 2px red;
	padding-left: 900px;
}

.header__content_button {
	border: dashed 2px red;
	text-decoration: none;
	cursor: pointer;
	font: 900 20px/23px robotomedium, arial, helvetica, sans-serif;
	color: #FFF;
	background:#E0036F;
	padding: 16px 66px;
}

.aside__title {
	font: 500 30px/35px robotomedium, arial, helvetica, sans-serif;
}

.aside__subtitle {
	font: 900 30px/35px robotomedium, arial, helvetica, sans-serif;
}

.aside__button {
	font: 900 20px/23px robotomedium, arial, helvetica, sans-serif;
}

.aside__text {
	font: 900 20px/23px robotomedium, arial, helvetica, sans-serif;
}

.main__title {
	font: 900 30px/35px robotomedium, arial, helvetica, sans-serif;
}

.main__subtitle {
	font: 900 20px/23px robotomedium, arial, helvetica, sans-serif;
}

.main__button {
	font: 900 20px/23px robotomedium, arial, helvetica, sans-serif;
}

.article__title {
	font: 500 30px/35px robotomedium, arial, helvetica, sans-serif;
}

.address__nav {
	font: 900 18px/21px robotomedium, arial, helvetica, sans-serif;
}

.address__number {
	font: 900 18px/21px robotomedium, arial, helvetica, sans-serif;
}